.genre-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin: 50px auto;
  justify-items: center;
  width: 1280px;
}

.backgroundImage {
  background-image: url("https://i.imgur.com/o41mm5B.jpg");
  height: 100px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.displayLogInMessage {
  margin: 100px;
  text-align: center;
}
