@import "../../variables.scss";

.slideshow-section {
  height: 65%;
  div {
    position: relative;
    height: 525px;
    width: 520px;
  }

  .slide-image {
    filter: brightness(0.75);
    box-sizing: border-box;
    position: relative;
    background-position: top center;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: table;
    padding: 40px;
    h4 {
      position: relative;
      z-index: 3;
      font-size: 1.8rem;
      text-shadow: 2px 2px 5px black;
      display: table-cell;
      vertical-align: bottom;
      color: white;
    }
  }
  .slide-container {
    position: relative;
    border-radius: 5px;
    .slide {
      text-decoration: none;
    }
    &::after {
      content: "";
      top: 0px;
      right: 0px;
      position: absolute;
      width: 100px;
      z-index: 2;
      height: 100%;
    }
    &::before {
      content: "";
      left: 0px;
      z-index: 2;
      height: 100%;
    }
  }

  .arrow {
    z-index: 3;
    fill: #c7c7c7;
    height: 50px;
    width: 70px;
    top: 45%;
    right: 0px;
    filter: drop-shadow(1px 1px 3px $background-color);
    position: absolute;
    &:hover {
      cursor: pointer;
      fill: rgb(226, 226, 226);
    }
  }

  .arrow-one {
    transform: rotate(180deg) scale(0.8);
    transition: 0.5s;
    &:hover {
      transform: rotate(180deg) scale(0.85);
    }
  }
  .arrow-two {
    top: 45%;
    left: 0px;
    transform: scale(0.8);
    transition: 0.5s;
    &:hover {
      transform: scale(0.85);
    }
  }
}
