@import "../../variables.scss";

.nav-bar {
  display: flex;
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  justify-content: center;
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  // border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 80vw;
  .search {
    border: 1px solid red;
    height: 20px;
  }
}

.nav {
  margin-top: 1.5rem;
  color: white;
}

.login {
  text-align: center;
  margin: 0;
  width: 32%;
  // border: 1px solid red;
}

.header-title {
  text-align: center;
  color: $text-w;
  width: 32%;
  // border: 1px solid red;
  margin: 0.8rem 0;
}

.left-page-links {
  display: flex;
  justify-content: space-around;
  width: 32%;
  // border: 1px solid red;
}

.left-page-links > nav {
  // border: 1px solid red;
  // color: orange;
}

.right-page-links {
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 1px solid red;
  width: 32%;
}
