.movieInfoContainer {
  height: 90vh;
  display: flex;
  justify-content: center;
  background-size: cover;
}

.movie-content > button,
.signin-btn {
  border: 1px solid white;
  color: white;
  background: rgba(214, 122, 122, 0.404);
  position: relative;
  height: 25px;
  left: 30px;
  top: 55px;
  font-size: 14px;
  border-radius: 25px;
  &:hover {
    cursor: pointer;
    background-color: white;
    color: black;
  }
  &:focus {
    outline: none;
  }
}

.content-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 75vw;
}

.movieInfoPoster {
  width: 350px;
  height: 500px;
  background-size: cover;
  margin-left: 20px;
  margin: 1rem;
}

.movieInfoOverview {
  color: white;
  font-size: 23px;
  width: 600px;
  background-color: rgba(0, 0, 0, 0.656);
  padding: 1rem;
}

.favoriteActive {
  background-image: url('../../assets/favoriteActive.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 80px;
  width: 80px;
}

.favorite {
  background-image: url('../../assets/favorite.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 80px;
  width: 80px;
}

.fav {
  float: right;
}

.movieInfoTitle {
  color: white;
}
