@import "../../variables.scss";

.carousel-container {
  margin: 0 auto;
  width: 99%;
  h1 {
    align-self: flex-start;
    padding: 1rem 0 0 0;
    color: $text-w;
    font-size: $sub-title;
  }
}

.carousel {
  position: relative;
  // border: 1px solid red;
  z-index: 5;
  display: flex;
  min-width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  margin: 1rem 0;
}

.left::-webkit-scrollbar {
  display: none;
}

.left {
  -ms-overflow-style: none; // IE 10+
  overflow: -moz-scrollbars-none; // Firefox
}

.carousel-cards {
  display: flex;
}
