@import "../../variables.scss";

.carousel-container {
  margin: 0 auto;
  // border: 1px solid blue;
  width: 99%;
  h1 {
    // border: 1px solid red;
    align-self: flex-start;
    padding: 1rem 0 0 0;
    color: $text-w;
    font-size: $sub-title;
  }
}

.carousel {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
  overflow: scroll;
}

.left::-webkit-scrollbar {
  display: none;
}

.left {
  -ms-overflow-style: none; // IE 10+
  overflow: -moz-scrollbars-none; // Firefox
}

.carousel-cards {
  display: flex;
}
