$background-color: rgb(0, 0, 0);
$border: rgba(255, 34, 34, 0.548);
$text-w: rgb(238, 238, 238);
$sub-title: 24px;

@mixin hover-state($n) {
  cursor: pointer;
  opacity: 0.11 * $n;
  overflow: hidden;
  transition: 0.15s opacity ease-in;
  &:hover {
    opacity: 1;
  }
  &:active {
    filter: brightness(0.3);
  }
}
