.splash-image {
  border: 2px solid red;
  width: 1280px;
  height: 720px;
  opacity: 0.1;
  background-color: rgb(63, 184, 48);
  margin: 0 auto;
  transform: translateY(0%);
  position: relative;
  z-index: -1;
}

.splash-details {
  position: absolute;
  left: 3rem;
  top: 8rem;
  border: 1px solid red;
  width: 30%;
}

.splash-title {
  font-size: 32px;
  margin: 0;
}
